<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <menuitem id="menu_meta_leads_root"
                  name="Meta Leads"
                  parent="crm.crm_menu_root"
                  sequence="30"/>

        <menuitem id="menu_meta_lead_config"
                  name="Configurations"
                  parent="menu_meta_leads_root"
                  action="action_meta_lead_config"
                  sequence="10"
                  groups="bs_meta_leads_webhook.group_meta_leads_admin"/>

        <menuitem id="menu_meta_lead_queue"
                  name="Webhook Queue"
                  parent="menu_meta_leads_root"
                  action="action_meta_lead_queue"
                  sequence="20"
                  groups="bs_meta_leads_webhook.group_meta_leads_admin"/>

        <menuitem id="menu_meta_lead_log"
                  name="Audit Logs"
                  parent="menu_meta_leads_root"
                  action="action_meta_lead_log"
                  sequence="30"
                  groups="bs_meta_leads_webhook.group_meta_leads_admin"/>

    </data>
</odoo>
